
:root{
    --color1:#ffffff;
    --color2:#212529;
    --color3:#0a80ff;
    --color4:#969696;
    --color5:#0062cc;
    --border-color :#e6e6e6;
    --green: #0abb87;
    --redOrange: #ffb822;
    --border-color2: #6c757d;
    --border-color3:#ced4da;
    --red:red;

}